* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(168, 167, 167, 0.164);
}

.slider {
    position: relative;
    height: 100vh;
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.wp {
    display: flex;
    justify-content: center;
}

.Sub-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    line-height: 70px;
    z-index: 2;
    left: 100px;
    height: 500px;
    width: 600px;
}

.Sub-1 p {
    color: white;
    font-size: 70px;
    font-weight: bold;
    opacity: .9px;
}

.Sub-1 span {
    display: block;
    color: rgb(243, 158, 30);
}

.social-media {
    position: absolute;
    display: flex;
    right: 20px;
    top: 35%;
    z-index: 3;
    height: 250px;
    width: 75px;
    border-radius: 50px;
    overflow: hidden;
    background-color: transparent;
}

.back {
    position: absolute;
    width: 250px;
    height: 75px;
    transform-origin: center;
    background-color: rgba(255, 255, 255, 0.363);
    z-index: 1;
    box-shadow: 2px 2px 4px rgba(201, 116, 116, 0.295);

}

.links {
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.links button {
    border: none;
    background-color: transparent;
}



.about-A {
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 60px;
}

.about-A h2 {
    font-family: "Archivo";
    font-weight: 300;
    font-size: 38px;
    width: 78%;
    white-space: pre-wrap;
}

.About {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-direction: column;
    flex: 1fr 50px;
    height: 500px;
    align-items: center;

}

.About button {
    display: flex;
    height: 60px;
    width: 150px;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    font-size: 15px;
    cursor: pointer;
}

.skills {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skills ul {
    position: relative;
    z-index: 1;
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 80%;
    height: 300px;
    overflow: hidden;
    flex-wrap: wrap;
}

.skills img {
    width: 60px;
    height: 60px;
    opacity: 0.7;
}

.back-img {
    position: absolute;
    z-index: 0;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/348/817/original/4k-abstract-white-gray-colorful-motion-graphic-slide-from-center-to-right-and-left-background-textures-free-video.jpg");
    height: 100%;
    width: 100%;
    filter: blur(5px);
    background-position: bottom;
}

.sn {
    position: absolute;
    bottom: 20px;
    color: rgb(54, 53, 53);
    font-family: "Archivo";
    font-size: 26px;
}

.project-tt {
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Archivo";
    font-size: 38px;
    text-align: center;
    text-wrap: pre-wrap;
    line-height: 60px;
    font-weight: 300px;
}

.project-tt p {
    width: 70%;
}

.project {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-rows: 40px 1fr;
    justify-content: center;
    top: 0;
    bottom: 0;
}

.catagory {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.projects {
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 20px;

}

.p-img {
    height: 80;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.p-img img {
    width: 250px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    filter: saturate(0.5);
    overflow: hidden;
    transition: filter 0.3s ease-in-out;
}

.p-img img:hover {
    filter: saturate(1);
}



.contact {
    height: 300px;
    width: 100%;
    background-image: url(../img/black-932213_1280.jpg);
    background-position: center;
}

.footer {
    height: 100px;
    width: 100%;
}